# Configuracion de Ginore
*.iml
.DS_Store

/captures
.externalNativeBuild
.cxx

# Gradle files
/gradle/


# excluir la carpeta pricipal build
/build
/app/build/20230410_4639663409724024589.compiler.options
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/

# Local configuration file (sdk path, etc)
local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof

